body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

header {
 width: 100%;
 background-color:#FEEDF2;
 padding: 5px;
 box-sizing: border-box;
}

.imagem-redonda {
    width: 120px;       
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

header nav {
    float: right;
    margin-top: 30px;
}

header nav a {
    text-decoration: none;
    color: #D2042D ;
    margin: 15px;
}
header nav a:houver {
    color: #E11F4C
}


.boas-vindas {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #DE3163;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
 
  .carousel {
  position: relative;
  max-width: 600px; /* ajuste o tamanho que quiser */
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-images img {
  width: 100%;
  display: none;
  border-radius: 10px;
}

.carousel-images img.active {
  display: block;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

.carousel button.prev {
  left: 10px;
}

.carousel button.next {
  right: 10px;
}
